html { min-height: 100%; padding: 0; margin: 0; }
/* background: url("../image/bg-img.jpg") repeat fixed 0 0 transparent; */
body {
    background: -webkit-gradient(linear , 0 100, 0 98%, from(#163346), to(#000309) );
    background-color: #123; max-width: 1200px; padding: 25px 25px;
    position: relative; margin: 40px auto 15px;
    font: 100 14px/1.5 "Trebuchet MS", Helvetica, SimSun, sans-serif; color: #ffffff;
}

h1, h2, h3, h4, h5, h6 { font-family: "Microsoft Yahei", sans-serif; margin: 0; padding: 0.15em 0; }
h1 { font-size: 1.7em; color: #f37; /* margin-bottom: 0.5em; margin-top: 0; */ }
h2 { font-size: 1.52em; /*border-bottom: 1px solid #29362E;*/ /*border-bottom: 1px solid rgba(255,230,0,0.1);*/ color: #fd5; margin-top: 1em; }
h3 { font-size: 1.22em; color: #df5; /*border-bottom: 1px dashed #29362E;*/ /*border-bottom: 1px dashed  rgba(255,230,0,0.1);*/ margin-top: 0.9em; margin-bottom: 0.4em; }
h4 { font-size: 1.15em; color: #6d9;  }
h5 { font-size: 1.05em; color: #e3e3f3; }
h6 { font-size: 1.0em; }

ul, ol { margin: 0.5em 0 1em; margin-left: 1em; padding: 0; padding-left: 0.5em; }
ul ul, ul ol, ol ol, ol ul { margin-top: 0.5em; margin-bottom: 0.5em; }
li { margin: 0.3em auto; padding: 0; list-style-position: inside; }

dl { margin: 0.5em 0 1em; margin-left: 1em; padding-left: 0.5em; }
dt { font-weight: bold; }

p {margin: 0.5em 0 1em; text-indent: 2em}

code { padding: 2px 4px; border : 1px solid #000000; background: #1B2426; color: #00FF00; font-family: 'Lucida Console', 'Courier New', Courier, monospace; }

blockquote { 
	padding: 0.8em; margin: 0.5em 0 1em; position: relative; z-index: 2;
	font-family: 'Lucida Console', 'Courier New', Courier, monospace;
	background: rgba(255,30,120,0.1); 
	border: 1px solid rgba(230,0,20,0.2); 
	-webkit-transition: all 0.45s linear;
	-moz-transition: all 0.45s linear;
}
blockquote:hover { color: #eee; background: rgba(255,30,120,0.25); }

b { font-weight: 600; color: #eef; }
i { font-family: Candara, "Microsoft Yahei", sans-serif; font-style: italic; }
em { font-family: Candara, "Microsoft Yahei", sans-serif; font-style: italic; }
del { text-decoration: line-through; opacity: 0.6; }
strong { font-weight: 600; color: #eef; }

a { color: #0df; text-decoration: none; padding-bottom: 1px; }
a:hover { color: #5ef; padding-bottom: 0; border-bottom: 1px solid #468; }
a:visited { color: #6ac; } 

input:focus, a:focus, button:focus { box-shadow: 0 0 3px #cb0; -webkit-box-shadow: 0 0 3px #cb0; -moz-box-shadow: 0 0 3px #cb0; }
textarea { background: transparent; color: #fff; resize: none; }
img { border: none; }

/* 主内容区 */
.note-main {width: 700px}

/* 导航条 */
div.toc { height:450px; }
.toc {
    display: none;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #F0C81E;
    border-radius: 0 0 1px 1px;
    color: #999;
    background: #0C1F2C;
    background: rgba(10,30,40,0.85);
    padding: 12px;
    box-shadow: 0 1px 8px #000;
    -webkit-box-shadow: 0 1px 8px #000;
    -moz-box-shadow: 0 1px 8px #000;
    -moz-border-radius: 0 0 1px 1px;
}
.tocWrap { position: fixed; width: 300px; z-index: 100; top: 8%; right: 2.8%; display: none; }
.tocWrap .toggler { text-align: center; font-size: 12px; background: #F0C81E; border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; color: #122; position: relative; z-index: 101; cursor: pointer; }
.toc ul { margin: 0; }
.toc li { color: #eff; }
.toc a { color: #eff; }

/* 代码高亮 */
.syntaxhighlighter table { width: 100%; }
.syntaxhighlighter td.gutter { width: 1em; }
.syntaxhighlighter .gutter .line { padding-right: 0.3em; }
/* 去掉syntaxhighlighter上的小问号 */
.syntaxhighlighter .toolbar { display: none; }
