<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/study.tcp.ip/src/ch03/BruteForceCoding.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch03.BruteForceCoding"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="study.tcp.ip"/>
</launchConfiguration>
