<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=%encoding%">

<script type="text/javascript" src="%root_path%../../vimwiki-theme/3rd-libs/zepto-1.1.2.min.js"></script>

<link type="text/css" rel="stylesheet" href="%root_path%../../vimwiki-theme/3rd-libs/hightlight-code/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="%root_path%../../vimwiki-theme/3rd-libs/hightlight-code/styles/shThemeDefault.css"/>
<script type="text/javascript" src="%root_path%../../vimwiki-theme/3rd-libs/hightlight-code/scripts/shCore.js"></script>
<script type="text/javascript" src="%root_path%../../vimwiki-theme/3rd-libs/hightlight-code/scripts/shAutoloader.js"></script>

<script type="text/javascript" src="%root_path%../../vimwiki-theme/3rd-libs/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/javascript" src="%root_path%../../vimwiki-theme/templates/code-default/scripts/script.js"></script>
<link type="text/css" rel="stylesheet" href="%root_path%../../vimwiki-theme/templates/code-default/styles/style.css" />


<title>%title%</title>
</head>
<body  onresize='changeTocSize()'>
	<div class="note-main"> %content% </div>
</body>
</html>
